Repository co-test/codingTest, changes with the labels that .github/labeler.yml gives for each.
All labels: review me, arthur, bbbnam, programmers, greedy

.github/labeler.yml:

review me:
  - "*"

arthur:
  - src/main/java/programmers/arthur/**/*

bbbnam:
  - src/main/java/programmers/bbbnam/**/*

programmers:
  - src/main/java/programmers/**/*

greedy:
  - src/**/greedy/**/*

44
  src/main/java/programmers/a_testcase/lv1/greedy/체육복.md
Labels: programmers, greedy

pr-remainder
  .github/workflows/pr-reminder.yml
Labels: none

refactor : 재업 테스트
  src/main/java/programmers/bbbnam/체육복/ExersizeWear.java
Labels: bbbnam, programmers

feat : #포함 브랜치 생성 테스트
  src/main/java/programmers/bbbnam/체육복/ExersizeWear.java
Labels: bbbnam, programmers

feat : 해결메소드 추가
  src/main/java/programmers/bbbnam/큰수만들기/BigNumber.java
Labels: bbbnam, programmers

refactor : 큰수만들기 구현
  src/main/java/programmers/bbbnam/큰수만들기/BigNumber.java
Labels: bbbnam, programmers

refactor : 큰수만들기 구현 (다시 해볼것)
  src/main/java/programmers/bbbnam/큰수만들기/BigNumber.java
Labels: bbbnam, programmers

init : level1 sol#1
  src/main/java/programmers/bbbnam/level1/TwoAdd.java
  src/test/java/programmers/bbbnam/level1/TwoAddTest.java
Labels: bbbnam, programmers

remove : level1 sol#1 del
  src/main/java/programmers/bbbnam/level1/TwoAdd.java
  src/test/java/programmers/bbbnam/level1/TwoAddTest.java
Labels: bbbnam, programmers

init : level1 sol#1
  src/main/java/programmers/bbbnam/두개뽑아서더하기/PeekAndAdd.java
  src/test/java/programmers/bbbnam/두개뽑아서더하기/PeekAndAddTest.java
Labels: bbbnam, programmers

solve : level1 #1 solve
  src/main/java/programmers/bbbnam/두개뽑아서더하기/PeekAndAdd.java
  src/test/java/programmers/bbbnam/두개뽑아서더하기/PeekAndAddTest.java
Labels: bbbnam, programmers

init : level1 #2 init
  src/main/java/programmers/bbbnam/크레인인형뽑기/Crane.java
  src/test/java/programmers/bbbnam/크레인인형뽑기/CraneTest.java
Labels: bbbnam, programmers

init : level1 #3 init
  src/main/java/programmers/bbbnam/완주하지못한선수/NoGoalUser.java
  src/test/java/programmers/bbbnam/완주하지못한선수/NoGoalUserTest.java
Labels: bbbnam, programmers

test : level1 #3 testCode
  src/test/java/programmers/bbbnam/완주하지못한선수/NoGoalUserTest.java
Labels: none

solve : level1 #3 solve
  src/main/java/programmers/bbbnam/완주하지못한선수/NoGoalUser.java
Labels: bbbnam, programmers

큰수뽑아더하기
  src/main/java/programmers/jung/두개뽑아서더하기/PickAndAdd.java
Labels: programmers

크레인인형뽑기
  src/main/java/programmers/jung/크레인인형뽑기/ClawMachineGame.java
Labels: programmers

크레인인형뽑기
  src/main/java/programmers/jung/크레인인형뽑기/ClawMachineGame.java
Labels: programmers

solve : level1-kCheck
  src/main/java/programmers/bbbnam/k번째수/KCheck.java
Labels: bbbnam, programmers

solve : level1-DemoTest
  src/main/java/programmers/bbbnam/모의고사/DemoTest.java
Labels: bbbnam, programmers

solve : level1-2016
  src/main/java/programmers/bbbnam/년도2016/Year2016.java
Labels: bbbnam, programmers

Remark : level1-2016 Remark
  src/main/java/programmers/bbbnam/년도2016/Year2016.java
Labels: bbbnam, programmers

성공케이스 반영
  src/main/java/programmers/jung/크레인인형뽑기/ClawMachineGame.java
Labels: programmers

feat : add subak
  src/main/java/programmers/bbbnam/수박수박수/Subak.java
Labels: bbbnam, programmers

feat : No same number
  src/main/java/programmers/bbbnam/같은숫자는싫어/NoSameNum.java
  src/main/java/programmers/bbbnam/같은숫자는싫어/NoSameNum_1.java
Labels: bbbnam, programmers

feat : string basic
  src/main/java/programmers/bbbnam/문자열기본/NormalStr.java
Labels: bbbnam, programmers
